# **UAS PSD**

NPM     : 200411100195

Nama    : Muhammad Arbiansyafa Siswanto (Ketua)

NPM     : 200411100118

Nama    : Bachtiar Dwi Yusril R. (Anggota)

# Get and prepare Data

In [16]:
import numpy as np
import pandas as pd

In [23]:
import pandas as pd

# URL file CSV di repositori GitHub
csv_url = 'https://raw.githubusercontent.com/Arbiansa/kolaborasipro/main/PLN%3DX.csv'

# Membaca file CSV dari URL menggunakan pandas
df_data = pd.read_csv(csv_url)

# Menampilkan data dari file CSV
df_data.head(7)

         Date     Open     High      Low    Close  Adj Close  Volume
0  2022-06-14  4.46600  4.47688  4.42988  4.46600    4.46600       0
1  2022-06-15  4.46002  4.50125  4.44080  4.46002    4.46002       0
2  2022-06-16  4.45990  4.54237  4.45280  4.45990    4.45990       0
3  2022-06-17  4.47920  4.49009  4.45391  4.47920    4.47920       0
4  2022-06-20  4.45950  4.46150  4.40960  4.45950    4.45950       0
5  2022-06-21  4.41570  4.41745  4.38500  4.41570    4.41570       0
6  2022-06-22  4.40151  4.46615  4.40040  4.40151    4.40151       0

In [20]:
df_data.shape

(262, 7)

In [21]:
df_pln= df_data['High']

In [23]:
# transform univariate time series to supervised learning problem
from numpy import array
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
    X, y = list(), list()
    for i in range(len(sequence)):
    # find the end of this pattern
        end_ix = i + n_steps
    # check if we are beyond the sequence
        if end_ix > len(sequence)-1:
            break
    # gather input and output parts of the pattern
        # print(i, end_ix)
        seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
        X.append(seq_x)
        y.append(seq_y)
    return array(X), array(y)

# Tuning data

In [24]:
n_steps = 2
X, y = split_sequence(df_pln, n_steps)

In [25]:
print(X.shape, y.shape)

(260, 2) (260,)

In [26]:
# column names to X and y data frames
df_X = pd.DataFrame(X, columns=['t-'+str(i) for i in range(n_steps-1, -1,-1)])
df_y = pd.DataFrame(y, columns=['t+1 (prediction)'])

# concat df_X and df_y
df = pd.concat([df_X, df_y], axis=1)

In [27]:
# df_X.head()
# df_y.head()
df.head(3)

       t-1      t-0  t+1 (prediction)
0  4.47688  4.50125           4.54237
1  4.50125  4.54237           4.49009
2  4.54237  4.49009           4.46150

# Prepo

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler= MinMaxScaler()
X_norm= scaler.fit_transform(df_X)
# y_norm= scaler.fit_transform(df_y)

In [29]:
X_norm

array([[0.36812246, 0.39461876],
       [0.39461876, 0.43932651],
       [0.43932651, 0.38248504],
       [0.38248504, 0.35140054],
       [0.35140054, 0.30350714],
       [0.30350714, 0.35645626],
       [0.35645626, 0.38537713],
       [0.38537713, 0.37243884],
       [0.37243884, 0.34552939],
       [0.34552939, 0.35480364],
       [0.35480364, 0.36977508],
       [0.36977508, 0.41328686],
       [0.41328686, 0.43310744],
       [0.43310744, 0.42487695],
       [0.42487695, 0.56263163],
       [0.56263163, 0.63161769],
       [0.63161769, 0.63153071],
       [0.63153071, 0.67746705],
       [0.67746705, 0.69444991],
       [0.69444991, 0.77277546],
       [0.77277546, 0.76422967],
       [0.76422967, 0.7610114 ],
       [0.7610114 , 0.73238409],
       [0.73238409, 0.65593949],
       [0.65593949, 0.64974216],
       [0.64974216, 0.6150045 ],
       [0.6150045 , 0.59717358],
       [0.59717358, 0.6184837 ],
       [0.6184837 , 0.56015269],
       [0.56015269, 0.62125619],
       [0.62125619, 0.66197808],
       [0.66197808, 0.65322136],
       [0.65322136, 0.58358295],
       [0.58358295, 0.54519321],
       [0.54519321, 0.5449975 ],
       [0.5449975 , 0.56384935],
       [0.56384935, 0.54954982],
       [0.54954982, 0.54916276],
       [0.54916276, 0.53992983],
       [0.53992983, 0.52092577],
       [0.52092577, 0.52395268],
       [0.52395268, 0.45022077],
       [0.45022077, 0.45628763],
       [0.45628763, 0.50598912],
       [0.50598912, 0.5512916 ],
       [0.5512916 , 0.53994831],
       [0.53994831, 0.58468433],
       [0.58468433, 0.64534967],
       [0.64534967, 0.71785951],
       [0.71785951, 0.74221284],
       [0.74221284, 0.73473473],
       [0.73473473, 0.70064724],
       [0.70064724, 0.67804221],
       [0.67804221, 0.7064749 ],
       [0.7064749 , 0.65408029],
       [0.65408029, 0.66460488],
       [0.66460488, 0.67181335],
       [0.67181335, 0.65008899],
       [0.65008899, 0.71014873],
       [0.71014873, 0.70176711],
       [0.70176711, 0.71229387],
       [0.71229387, 0.65964701],
       [0.65964701, 0.61690718],
       [0.61690718, 0.56749816],
       [0.56749816, 0.63682562],
       [0.63682562, 0.65887398],
       [0.65887398, 0.66071252],
       [0.66071252, 0.66070382],
       [0.66070382, 0.64663262],
       [0.64663262, 0.66551491],
       [0.66551491, 0.76352295],
       [0.76352295, 0.79890209],
       [0.79890209, 0.81943483],
       [0.81943483, 0.88137115],
       [0.88137115, 0.91572719],
       [0.91572719, 1.        ],
       [1.        , 0.99118783],
       [0.99118783, 0.92511017],
       [0.92511017, 0.89687426],
       [0.89687426, 0.85095966],
       [0.85095966, 0.84474059],
       [0.84474059, 0.92933957],
       [0.92933957, 0.94237571],
       [0.94237571, 0.97787445],
       [0.97787445, 0.9654363 ],
       [0.9654363 , 0.94872525],
       [0.94872525, 0.9708943 ],
       [0.9708943 , 0.90930154],
       [0.90930154, 0.91761901],
       [0.91761901, 0.82665961],
       [0.82665961, 0.83941306],
       [0.83941306, 0.85487376],
       [0.85487376, 0.86159297],
       [0.86159297, 0.81087273],
       [0.81087273, 0.78033185],
       [0.78033185, 0.7123678 ],
       [0.7123678 , 0.66777965],
       [0.66777965, 0.67860867],
       [0.67860867, 0.68918762],
       [0.68918762, 0.68790466],
       [0.68790466, 0.68352304],
       [0.68352304, 0.76431665],
       [0.76431665, 0.7366135 ],
       [0.7366135 , 0.64191395],
       [0.64191395, 0.61379765],
       [0.61379765, 0.60897025],
       [0.60897025, 0.66173453],
       [0.66173453, 0.51427071],
       [0.51427071, 0.46681221],
       [0.46681221, 0.4643659 ],
       [0.4643659 , 0.52818752],
       [0.52818752, 0.47262901],
       [0.47262901, 0.45757058],
       [0.45757058, 0.50883446],
       [0.50883446, 0.49453711],
       [0.49453711, 0.4670688 ],
       [0.4670688 , 0.42347875],
       [0.42347875, 0.42581634],
       [0.42581634, 0.43381306],
       [0.43381306, 0.42816045],
       [0.42816045, 0.43730423],
       [0.43730423, 0.40799195],
       [0.40799195, 0.38602948],
       [0.38602948, 0.3804758 ],
       [0.3804758 , 0.39739125],
       [0.39739125, 0.38701018],
       [0.38701018, 0.36999036],
       [0.36999036, 0.35152884],
       [0.35152884, 0.36020727],
       [0.36020727, 0.3479757 ],
       [0.3479757 , 0.3212239 ],
       [0.3212239 , 0.30667104],
       [0.30667104, 0.31105267],
       [0.31105267, 0.32153485],
       [0.32153485, 0.31639107],
       [0.31639107, 0.28698637],
       [0.28698637, 0.27537236],
       [0.27537236, 0.26418672],
       [0.26418672, 0.25702717],
       [0.25702717, 0.30761695],
       [0.30761695, 0.31204424],
       [0.31204424, 0.30733644],
       [0.30733644, 0.29463518],
       [0.29463518, 0.27660421],
       [0.27660421, 0.35054488],
       [0.35054488, 0.31634323],
       [0.31634323, 0.34357234],
       [0.34357234, 0.36831164],
       [0.36831164, 0.28986976],
       [0.28986976, 0.26369637],
       [0.26369637, 0.255268  ],
       [0.255268  , 0.25074286],
       [0.25074286, 0.22618404],
       [0.22618404, 0.23447977],
       [0.23447977, 0.23337947],
       [0.23337947, 0.24619816],
       [0.24619816, 0.27822856],
       [0.27822856, 0.24493477],
       [0.24493477, 0.22310495],
       [0.22310495, 0.22805085],
       [0.22805085, 0.22126641],
       [0.22126641, 0.22399432],
       [0.22399432, 0.22063798],
       [0.22063798, 0.21744907],
       [0.21744907, 0.2421862 ],
       [0.2421862 , 0.21679889],
       [0.21679889, 0.17925612],
       [0.17925612, 0.23675538],
       [0.23675538, 0.31529294],
       [0.31529294, 0.36352339],
       [0.36352339, 0.31636932],
       [0.31636932, 0.30954139],
       [0.30954139, 0.36982944],
       [0.36982944, 0.38479762],
       [0.38479762, 0.36187077],
       [0.36187077, 0.3616207 ],
       [0.3616207 , 0.37674653],
       [0.37674653, 0.39396641],
       [0.39396641, 0.34852476],
       [0.34852476, 0.35452313],
       [0.35452313, 0.36658944],
       [0.36658944, 0.38499659],
       [0.38499659, 0.37374572],
       [0.37374572, 0.37205505],
       [0.37205505, 0.34623175],
       [0.34623175, 0.33987568],
       [0.33987568, 0.321275  ],
       [0.321275  , 0.33435245],
       [0.33435245, 0.31939188],
       [0.31939188, 0.32483574],
       [0.32483574, 0.35291182],
       [0.35291182, 0.32910973],
       [0.32910973, 0.32169685],
       [0.32169685, 0.29426443],
       [0.29426443, 0.27345553],
       [0.27345553, 0.35758048],
       [0.35758048, 0.34858239],
       [0.34858239, 0.32119128],
       [0.32119128, 0.31856557],
       [0.31856557, 0.28187738],
       [0.28187738, 0.24062056],
       [0.24062056, 0.18555674],
       [0.18555674, 0.26011931],
       [0.26011931, 0.2394485 ],
       [0.2394485 , 0.21658144],
       [0.21658144, 0.20842706],
       [0.20842706, 0.20728545],
       [0.20728545, 0.18586661],
       [0.18586661, 0.2200813 ],
       [0.2200813 , 0.16941324],
       [0.16941324, 0.17739693],
       [0.17739693, 0.18173506],
       [0.18173506, 0.17678807],
       [0.17678807, 0.20678531],
       [0.20678531, 0.19159533],
       [0.19159533, 0.15270546],
       [0.15270546, 0.10584495],
       [0.10584495, 0.09673053],
       [0.09673053, 0.11288599],
       [0.11288599, 0.11064408],
       [0.11064408, 0.10689306],
       [0.10689306, 0.08763024],
       [0.08763024, 0.07872892],
       [0.07872892, 0.06976997],
       [0.06976997, 0.05476373],
       [0.05476373, 0.05665773],
       [0.05665773, 0.03700023],
       [0.03700023, 0.04506763],
       [0.04506763, 0.06557318],
       [0.06557318, 0.06368463],
       [0.06368463, 0.02222232],
       [0.02222232, 0.03516604],
       [0.03516604, 0.03671755],
       [0.03671755, 0.01236204],
       [0.01236204, 0.04072298],
       [0.04072298, 0.02152974],
       [0.02152974, 0.02714974],
       [0.02714974, 0.03244465],
       [0.03244465, 0.02787167],
       [0.02787167, 0.0113085 ],
       [0.0113085 , 0.04437179],
       [0.04437179, 0.0983277 ],
       [0.0983277 , 0.09389607],
       [0.09389607, 0.06693333],
       [0.06693333, 0.04905784],
       [0.04905784, 0.05620108],
       [0.05620108, 0.08061856],
       [0.08061856, 0.10305941],
       [0.10305941, 0.09605969],
       [0.09605969, 0.1042032 ],
       [0.1042032 , 0.13154865],
       [0.13154865, 0.12392593],
       [0.12392593, 0.06605157],
       [0.06605157, 0.07208581],
       [0.07208581, 0.07407005],
       [0.07407005, 0.0678999 ],
       [0.0678999 , 0.067465  ],
       [0.067465  , 0.01810381],
       [0.01810381, 0.        ],
       [0.        , 0.02420112]])

## Split data

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.2, random_state=0)

## Model

In [31]:
# import knn
from sklearn.neighbors import KNeighborsRegressor
model_knn = KNeighborsRegressor(n_neighbors=3)

## Fit dan Prediksi KNN

In [32]:
model_knn.fit(X_train, y_train)
y_pred=model_knn.predict(X_test)

## MSE

$$ \text{MSE} = \frac{1}{n} \sum_{i=0}^n (y_i - \hat{y}_i)^2$$

In [34]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

0.0011408572095235046

## Hasil Mape

In [35]:
from sklearn.metrics import mean_absolute_percentage_error

# Assuming you have the true target values (y_test) and the predicted values (y_pred)
mape = mean_absolute_percentage_error(y_test, y_pred)
print("Mean Absolute Percentage Error:", mape)

Mean Absolute Percentage Error: 0.0053239092122695005

## Result

In [36]:
y_test.shape

(52,)

In [37]:
y_pred.shape

(52,)

In [38]:
df_y_test = pd.DataFrame(y_test,columns=['y_test'])
df_y_pred = pd.DataFrame(y_pred,columns=['y_pred'])

df_hasil = pd.concat([df_y_test, df_y_pred], axis=1)

In [39]:
df_hasil

      y_test    y_pred
0   4.175754  4.169269
1   4.611300  4.754037
2   4.163934  4.163293
3   4.989170  5.005600
4   4.471130  4.500625
5   4.423000  4.428613
6   4.464630  4.445983
7   4.891975  4.866364
8   4.634900  4.639238
9   4.353962  4.329573
10  4.464372  4.446417
11  4.756200  4.773191
12  4.202470  4.190946
13  4.573000  4.652577
14  4.330000  4.331846
15  4.676063  4.639238
16  4.163270  4.165640
17  4.467184  4.405027
18  4.374700  4.391866
19  4.341809  4.344160
20  4.305450  4.314636
21  4.456100  4.481972
22  4.793432  4.757970
23  4.204600  4.212085
24  4.359610  4.391363
25  4.394200  4.351797
26  5.026260  5.018618
27  4.198610  4.164690
28  4.980540  4.935970
29  4.148700  4.163293
30  4.910350  4.921440
31  4.924570  4.957584
32  4.488242  4.481972
33  4.762450  4.747783
34  4.308965  4.367410
35  4.529944  4.563213
36  4.478598  4.492850
37  4.482052  4.507957
38  4.356055  4.306976
39  4.402255  4.446299
40  4.492750  4.466184
41  4.741600  4.754637
42  4.492400  4.487194
43  4.532100  4.530453
44  4.529080  4.513646
45  4.475470  4.456822
46  4.454300  4.432493
47  4.212448  4.175980
48  4.368920  4.368354
49  4.433745  4.451405
50  4.744299  4.754952
51  4.634917  4.617679

In [ ]:
# df_hasil.to_excel('df_hasil n_step={}.xlsx'.format(n_steps), index=False)

In [40]:
y.min()

4.138299

In [41]:
y.max()

5.05805